/* Bottle Stylings */
.bottlecontainer {
  display: block;
}

#bottle {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 60vh;
  width: 28vh;
  margin: auto;
}

#bottleimage {
  position: absolute;
  height: 100%;
  width: 100%;
}

/* Bottle Scale Stylings (the measuring stick) */
.bottlescale {
  position: absolute;
  height: 100%;
  width: 100%;
}

/* bottlewaterscale + padding-top + padding-bottom = 100% */
.bottlewaterscale {
  display: flex;
  flex-direction: column;
  height: 62%;
  width: 100%;
  justify-content: center;
  align-items: end;
}

.bottlescale .padding-top {
  height: 25%;
}

.bottlescale .padding-bottom {
  height: 13%;
}

.bottlescale .scaletext {
  height: calc(100%/3);
  padding-top: calc(100%/6);
  padding-right: 10%;
  font-size: xx-large;
}

.bottlescale .scaletext span {
  border-width: thin;
  border-style: solid;
  border-radius: 10%;
  border-color: black;
  background-color: #ffffffa0;
}

.dark-mode .bottlescale .scaletext span {
  background-color: #00000060;
}

/* Water Stylings */
.water {
  display: flex;
  flex-direction: column;
  height: 53vh;
  width: 82%;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 4%;
  overflow: visible;
}

#waterlevel {
  overflow: hidden;
  width: 100%;
  margin-top: auto;
  margin-bottom: 3%;
  transition: 1s;
  background: linear-gradient(#00000000 4.4vh, #0000ff 4.4vh);
  opacity: 0.75;
}

#wavywaterline {
  height: 7.1vh;
  width: 220%;
  margin-left: -45%;
}

/* If screen bigger than 991px */
@media (min-width: 992px) {
  #bottle {
    height: 80vh;
    width: 36vh;
  }

  /* Adjust the top and bottom padding a bit to keep the scale text centred. */
  .bottlescale .padding-top {
    height: 28%;
  }

  .bottlescale .padding-bottom {
    height: 10%;
  }

  .water {
    height: 70vh;
    width: 84%;
    margin-bottom: 6%;
  }

  #wavywaterline {
    height: 6.5vh;
  }
}