.bottlecontainer {
  /* display: flex;
  flex-direction: row; */
  display: block;
}

#bottle {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 60vh;
  width: 32vh;
  margin: auto;
  /* background: lightcyan; */
  /* outline: 2%; */
  /* outline-color: black; */
  /* outline-style: solid; */
  /* border-radius: 2%; */
}

#bottleimage {
  position: absolute;
  height: 100%;
  width: 100%;
}

.water {
  display: flex;
  flex-direction: column;
  height: 53vh;
  width: 78%;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 4%; 
  overflow: visible;
}

#waterlevel {
  overflow: hidden;
  width: 100%;
  margin-top: auto;
  margin-bottom: 3%;
  transition: 1s;
  background: linear-gradient(#00000000 4.4vh, #0000ff 4.4vh);
  /* background: blue; */
}

#wavywaterline {
  height: 5.5vh;
  width: 220%;
  margin-left: -45%;
}

.fluidbutton {
  height: 20%;
  width: 5%;
  margin: auto 0;
  padding: 2%;
  margin-right: 5%;
}

p {
  text-align: center;
}


/* If screen bigger than 991px */
@media (min-width: 992px) {
  #bottle {
    height: 75vh;
  }

  .water {
    height: 64vh;
    width: 84%;
    margin-bottom: 6%; 
  }

  #wavywaterline {
    height: 5.4vh;
  }
}