@keyframes wavy-water-line-scroll {
  0% {
    margin-left: -15%;
  }

  100% {
    margin-left: -97%;
  }
}

#wavywaterline {
  height: 5vh;
  width: 220%;
  margin-left: -45%;
  animation: wavy-water-line-scroll 10s linear infinite;
}

@media (prefers-reduced-motion: reduce) {
  #wavywaterline {
    animation: none;
  }
}
