/* Responsive (desktop and up) */
@media (min-width: 992px) {
  .layout {
    display: flex; /* side-by-side layout */
  }

  main {
    flex-direction: row; /* side-by-side columns */
    width: 100%;
    margin-left: 200px;
    min-height: calc(100vh - 50px);
  }

  .auth-layout main {
    margin-left: 0 ;
    min-height: 0;
  }

  .sidebar h2 {
    display: none;
  }

  .sidebar {
    left: 0;
    height: calc(100vh - 50px); /* full viewport height - navbar */
    width: 200px;
    z-index: 100;
  }

  /* collapsed sidebar (desktop only) */
  .sidebar.collapsed {
    width: 0;
    padding: 0;
    overflow: hidden;
  }

  /* show reopen button on desktop 
	.show-sidebar-btn {
		 display: block !important; 
	}
	*/

  .extra {
    width: 350px;
    border-top: none;
    max-height: calc(100vh - 82px); 
    /* Hide overflow but allow scrolling and hide scrollbar */
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #00000030 #b1b2b530;
  }

  .navbar .burger {
    display: none; /* hide burger on desktop */
  }

  .sidebar .close-btn {
    display: none; /* hide close button on desktop */
  }

  .form-floating input,
  .form-floating textarea {
    width: 100%;
    margin-left: 0;
  }
}

@media (min-width: 1279px) {
  .row,
  .row-sm {
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }

  .row .col,
  .row-sm .col {
    flex: 1;
  }

  .important {
    order: 0;    
    margin-bottom: 0;
  }
}
