/* Dark Mode */
body.dark-mode {
  background: #2c3e50;
  color: #ecf0f1;
}

.dark-mode .navbar {
  background: #46719c;
}

.dark-mode h1,
.dark-mode h2,
.dark-mode h3,
.dark-mode h4,
.dark-mode h5 {
  color: #f0f0f0;
}

.dark-mode .auth-layout .dark-mode-toggle {
  border-color: #b2c3e2;
}

.dark-mode .dark-mode-toggle button i {
  color: #b2c3e2;
}

.dark-mode a {
  color: #80bfff;
}

.dark-mode a:visited {
  color: #5498dd;
}

.dark-mode .btn {
  background-color: #595959;
  color: white;
}

.dark-mode .btn:hover,
.dark-mode .btn:focus {
  background-color: #424242;
}

.dark-mode .btn.red {
  background-color: #a82315;
}

.dark-mode .btn.red:hover,
.dark-mode .btn.red:focus {
  background-color: #7f1b10;
}

.dark-mode .btn.blue {
  background-color: #2e2eff;
}

.dark-mode .btn.blue:hover,
.dark-mode .btn.blue:focus {
  background-color: #0000e0;
}

.dark-mode .btn.green {
  background-color: #006600;
}

.dark-mode .btn.green:hover,
.dark-mode .btn.green:focus {
  background-color: #004d00;
}

.dark-mode .navbar .burger {
  color: #f0f0f0;
}

.dark-mode .navbar .brand a {
  color: white;
}

.dark-mode .sidebar {
  background: #375472;
  color: white;
}

.dark-mode .sidebar a,
.dark-mode .sidebar button {
  color: white;
}

.dark-mode .show-sidebar-btn {
  background: #375472;
}

.dark-mode hr {
  border-bottom-color: #ffffff20;
}

.dark-mode .main {
  background: #2c3e50;
}

.dark-mode .extra {
  background: #34495e;
}

.dark-mode .extra a {
  color: #ecf0f1;
}

.dark-mode .card-header {
  border-bottom-color: #ffffff40;
}

.dark-mode .card-dropdown {
    background: #2c3e50;
}

.dark-mode .card.dialog {
  background-color: #2c3e50;
  color: #FFFFFF;
}

.dark-mode .row.sticky-header-dashboard .stat-box {
  background-color: #2c3e50;
}

.dark-mode .finished-drinks li span,
.dark-mode .open-drink-item div span {
  opacity: 1;
}

.dark-mode .open-drink-item div span.remove-link {
  color: #ffdede;
  text-decoration: underline;
}